<!-- used to add extra future elements-->
<!-- used to display element type when mouse over-->
<div class="py-cv-canvas py-editor-toolbar displayNone" data-type="title">
    <div>
        <div>
            <h6 style="margin:0px"></h6>
        </div>
    </div>
</div>
<!-- used to display element controls when mouse click-->
<div class="py-cv-canvas py-editor-toolbar displayNone" data-type="actions">
    <div>
        <div class="fa fa-cog py-toolbar-item"></div>
        <div class="fa fa-clone py-toolbar-item"></div>
        <div class="fa fa-trash-o py-toolbar-item"></div>
    </div>
</div>

<!-- used to display border-->
<div data-type="border" class="py-editor-toolbar displayNone" style="border-top:5px Solid #0de0d4"></div>

<!-- The Modal -->
<div id="PyModalAAA" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header" data-header="true">
      <span class="close" onclick="closemodel(event)">&times;</span>
      <h2>Modal Header</h2>
    </div>
    <div class="modal-body" data-body="true">

    </div>
    <div class="modal-footer" data-footer="true">
      <h3>Modal Footer</h3>
    </div>
  </div>

</div>
