<!-- used to add extra future elements-->
<!-- used to display element type when mouse over-->
<div class="py-cv-canvas py-editor-toolbar displayNone" data-type="title">
    <div>
        <div>
            <h6 style="margin:0px"></h6>
        </div>
    </div>
</div>
<!-- used to display element controls when mouse click-->
<div class="py-cv-canvas py-editor-toolbar displayNone" data-type="actions">
    <div>
        <div class="fa fa-cog py-toolbar-item"></div>
        <div class="fa fa-clone py-toolbar-item"></div>
        <div class="fa fa-trash-o py-toolbar-item"></div>
    </div>
</div>