{% load staticfiles %}
{%load TagUtility%}
<script type="text/javascript" src="{% static 'js/jquery-1_12_4.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/w3.css' %}" >
<!--<link rel="stylesheet" href="{% static 'css/fontawesome.css' %}" >-->
<link rel="stylesheet" href="{% static 'css/py_portal.css' %}" >
<link rel="stylesheet" href="{% static 'css/py_tabs.css' %}" >
<link rel="stylesheet" href="{% static 'css/py_editor.css' %}" >
<link rel="stylesheet" href="{% static 'css/py_dynamic.css' %}" >
<link rel="stylesheet" href="{% static 'css/PWCSS_Element.css' %}" >
<link rel="stylesheet" href="{% static 'css/treeview.css' %}" >
<script type="text/javascript" src="{% static 'js/pw_scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/py_tabs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/py_util.js' %}"></script>
<script type="text/javascript" src="{% static 'js/extramethods.js' %}"></script>
<script type="text/javascript" src="{% static 'js/py_editor.js' %}"></script>
<script type="text/javascript" src="{% static 'js/processrequest.js' %}"></script>
<script type="text/javascript" src="{% static 'js/treeview.js' %}"></script>