<div id="pw_memory_window">
<div>
    {% include "PyWeb/pw_CSS_JS_include.html" %}
</div>
<div class="container-flud bg-light" data-find="data_root" data-element={{context.selected_dick.root_data}}>
    <div class="row no-gutters h100">
        <div class="col-3 border border-primary">
            {% autoescape off %}
                {% load TagUtility %}{% tag_utility pw_tag="treeview" scope=context%}
            {% endautoescape %}
        </div>
        <div class="col-9 border border-primary p-1" id="divId">
            <h3>{{ context.selected_dick.select_dict}}</h3>
            {% for key, value in context.selected_dick.items%}

                <div class="row border no-gutters"><div class="col-5 border">{{key}}</div><div class="col-7 border">{{value}}</div></div>
            {%endfor%}

        </div>
    </div>
</div>
</div>