<form method="POST" data-source="standard" action="/processrequest" data-controlset="{}" id="formSample">
    <fieldset class="border p-2">
        <legend class="w-auto fz15">Create New Element</legend>
        <div class="container-flud">
              <div class="form-group">
                <label for="formGroupExampleInput">Element Name:</label>
                <input type="text" name="$dstandard$eelement" value="{{standard.element}}" class="form-control" id="formGroupExampleInput" placeholder="Enter Element Name"/>
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput3">Element Type:</label>
                <select name="$dstandard$eelement_type" class="form-control" id="formGroupExampleInput3">
                    <option>Directory</option>
                    <option>Section</option>
                    <option>Method</option>
                    <option>Purpose</option>
                </select>
              </div>
              <div class="form-group" id="dirNameformgroup">
                <label for="formGroupExampleInput2">Directory Name:</label>
                <input type="text" name="$dstandard$edir" value="{{.dir}}" class="form-control" id="formGroupExampleInput2" placeholder="Enter Directory Name"/>
              </div>
            <button type="submit" onclick="processrequest(event)" class="btn btn-primary" data-controlset='{"actionset":[{"event":"click","eventdata":[{"action":"Close"},{"action":"landingtab","target":"workTabs","purpose":"pw_new_purpose"}]}]}'>Submit</button>
        </div>
    </fieldset>
<script>
    $('#formGroupExampleInput3').on('change', function () {
        /*location.reload();*/
        /*$("#formSample").load(" #formSample > *");
        $("#formSample").load(location.href+" #formSample>*","");
        $("#formSample").html($("#formSample").html());*/
        reloadscripts()
    });

    if($('#formGroupExampleInput3').val()=="Directory"){
        $('#dirNameformgroup').hide();
    }else{
        $('#dirNameformgroup').show();
    }

    function reloadscripts(){
        if($('#formGroupExampleInput3').val()=="Directory"){
            $('#dirNameformgroup').hide();
        }else{
            $('#dirNameformgroup').show();
        }
    }
</script>
</form>
