<div class="container"><!-- data parent id need to geenrare random-->
    <div data-parent="DragList" class="row">
        <div class="column c12"><!-- data root will be data parent and data target will generate random -->
            <div class="row" data-target="basic" data-root="DragList" >
                <div class="column c12"><!-- data id will be data target-->
                    <button class="collapsible" data-id="basic" data-type="header" onclick="opencollapse(event)">Basic</button>
                    <div class="row content" data-id="basic" data-type="content">
                        <div class="column c6 block">
                            <h5 data-type="Layout" draggable="true" ondragstart="drag(event)">Layout</h5>
                        </div>
                        <div class="column c6 block">
                            <h5 data-type="Input" draggable="true" ondragstart="drag(event)">Input</h5>
                        </div>
                        <div class="column c6 block">
                            <h5 data-type="Label" draggable="true" ondragstart="drag(event)">Label</h5>
                        </div>
                        <div class="column c6 block">
                            <h5 data-type="Dropdown" draggable="true" ondragstart="drag(event)">DropDown</h5>
                        </div>
                        <div class="column c6 block">
                            <h5 data-type="CheckBox" draggable="true" ondragstart="drag(event)">Check Box</h5>
                        </div>
                        <div class="column c6 block">
                            <h5 data-type="RadioButton" draggable="true" ondragstart="drag(event)">Radio</h5>
                        </div>
                        <div class="column c6 block">
                            <h5 data-type="TabLayout" draggable="true" ondragstart="drag(event)">Tab Layout</h5>
                        </div>
                        <div class="column c6 block">
                            <h5 data-type="section" draggable="true" ondragstart="drag(event)">Section</h5>
                        </div>
                        <div class="column c6 block">
                            <h5 data-type="sectiongroup" draggable="true" ondragstart="drag(event)">Section Group</h5>
                        </div>
                        <div class="column c6 block">
                            <h5 data-type="sectionrepeat" draggable="true" ondragstart="drag(event)">Section Repeat</h5>
                        </div>
                        <div class="column c6 block">
                            <h5 data-type="buttonbar" draggable="true" ondragstart="drag(event)">Button Bar</h5>
                        </div>
                        <div class="column c6 block">
                            <h5 data-type="button" draggable="true" ondragstart="drag(event)">Button</h5>
                        </div>
                        <div class="column c6 block">
                            <h5 data-type="icon" draggable="true" ondragstart="drag(event)">Icon</h5>
                        </div>
                        <div class="column c6 block">
                            <h5 data-type="repeattable" draggable="true" ondragstart="drag(event)">Table Repeat</h5>
                        </div>
                        <div class="column c6 block">
                            <h5 data-type="tablecolumn" draggable="true" ondragstart="drag(event)">Table Column</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column c12">
            <div class="row" data-target="extras" data-root="DragList" >
                <div class="column">
                    <button class="collapsible" data-id="extras" data-type="header" onclick="opencollapse(event)">Extras</button>
                    <div class="row content" data-id="extras" data-type="content">
                        <div class="column c6 card">
                            <h5 draggable="true" ondragstart="drag(event)">Label</h5>
                        </div>
                        <div class="column c6 card">
                            <h5 draggable="true" ondragstart="drag(event)">Label</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

