<div class="row_100 py-dashed">
    <div class="column c6 py-dashed">

        <div ondrop="drop(event)" ondragover="allowDrop(event)" style="height:100px">

        </div>
    </div>
    <div class="column c6 py-dashed">
        <div class="row">
            <div class="column c6 py-dashed">
                <div ondrop="drop(event)" ondragover="allowDrop(event)" style="height:100px">

                </div>
            </div>
            <div class="column c6 py-dashed">
                <div ondrop="drop(event)" ondragover="allowDrop(event)" style="height:100px">

                </div>
            </div>
        </div>

    </div>
</div>

