/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: inherit;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent90 {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height: 90%;
}
.tablinks{
    position:relative;
}
.display{
    display:block;
}

.nodisplay{
    display:none;
}
/* Style the close button */
.topright {
    display: block;
    position: absolute;
    top: 5px;
    right: 1px;
    font-size: 18px;
}

.topright:hover {color: red;}
