{%load TagUtility%}
{%comment%}
{%includeTag defineConfiguration col as control%}
{%includeTag GetElementPath ElementPrimary.elementpath ElementPrimary.property as value%}
{%endcomment%}
{%includeTag assignCss controlset as colconfig%}
{% if colconfig.layvisibility == True %}
{%with path=ElementPrimary.elementpath%}
{%if colconfig.readonly == True%}
    <div class="{{layconfig.layclass}}{{layclass}}{{colconfig.flot}}">
        {%if displaylable != "false" %}<label>{{ElementPrimary.Label}}</label> <br/>{%endif%}
        <label>{{ElementPrimary.value}}</label>
    </div>
{%else%}
    <div class="{{layconfig.layclass}}{{layclass}}">
        {%if displaylable != "false" %}<label>{{ElementPrimary.Label}}</label> {%endif%}
        <input class="w3-input w3-border" type="text" name="{{ElementPrimary.property|add_path:path}}" value="{{ElementPrimary.value}}">
    </div>
{%endif%}
{%endwith%}
{%endif%}
