{%load TagUtility%}
{%includeTag assignCss controlset as layconfig%}
{% if layconfig.layvisibility == True %}
    {% with columns=ElementPrimary.columns %}
        <div class="w3-bar w3-right {{layconfig.layCss}}" style="overflow:inherit; {{layconfig.style}}">
        {%for col in columns %}
            {% if col.controltype == "MenuGroup" %}
                {%with elpath=ElementPrimary.elementpath ElementPrimary=col%}
                    {%includeTag MenuGroupItem %}
                {%endwith%}
            {%endif%}
            {% if col.controltype == "Input" %}
                {%with elpath=ElementPrimary.elementpath ElementPrimary=col layclass="w3-bar-item" %}
                    {%includeTag input%}
                {%endwith%}
            {%endif%}
            {% if col.controltype == "Label" %}
                {%with elpath=ElementPrimary.elementpath ElementPrimary=col layclass="w3-bar-item"%}
                    {%includeTag Label%}
                {%endwith%}
            {%endif%}
            {% if col.controltype == "button" %}
                {%with elpath=ElementPrimary.elementpath ElementPrimary=col layclass="w3-bar-item"%}
                    {%includeTag button%}
                {%endwith%}
            {%endif%}
        {%endfor%}
        </div>
    {%endwith%}
{%endif%}